<h1>Studio List</h1>
   <%# show_filters: :when_filtered %>
  <%= grid(@users_grid) do |g|
    g.column  name: 'name', attribute: 'name' do |task|
      task.name
    end

    g.column  name: 'address', attribute: 'address' do |task|
      task.address
    end

    g.column  name: 'email', attribute: 'email' do |task|
      task.address
    end

    g.column  name: 'class_type', attribute: 'class_type' do |task|
      task.class_type
    end


  end %>

<%= link_to 'New Event', new_event_path %>

<!-- this is for twitter bootstrap's grid system -->
<div class="container">
<table class="table">
  <thead>
    <tr>
      <!--<th>Latitude</th>
      <th>Longitude</th>-->
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!--<td><%= user.latitude %></td>
        <td><%= user.longitude %></td> -->
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.website %></td>
        <td><%= user.facebook %></td>
        <td><%= user.class_type %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

</body>