
<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />

<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>


  <script type="text/javascript">

    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      // put your options and callbacks here
      events: [{
        // my event data
        title  : 'event1',
        start  : '2014-11-12T12:30:00',
        allDay: false
      }],
      eventColor: '#378006', 
      header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
      },
      theme: true,
      buttonIcons:{
        prev: 'left-single-arrow',
        next: 'right-single-arrow',
        prevYear: 'left-double-arrow',
        nextYear: 'right-double-arrow'
      }

    })

    });

  </script>

<!-- this is for each of the 'show' --> 
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="row text-center">
      <p>
        <%= image_tag(@user.logo, :size => "200", :alt => "logo image", :logo => "logo") %>

        <br><br>

        <% if !@user.facebook.blank? %> 
          <%= link_to(image_tag("http://i.imgur.com/DGUwZPZl.png", :size => "35x35", :alt => "facebook link", :title => "Facebook"), @user.facebook) %>
        <% end %>

        <% if !@user.twitter.blank? %> 
          <%= link_to(image_tag("http://i.imgur.com/YuBJm4j.png", :size => "35x35", :alt => "twitter link", :title => "Twitter"), @user.twitter) %>
        <% end %>

         <% if !@user.instagram.blank? %> 
          <%= link_to(image_tag("http://i.imgur.com/HXVGFQil.png", :size => "35x35", :alt => "instagram link", :title => "Instagram"), @user.instagram) %>
        <% end %>

        <% if !@user.instagram.blank? %> 
          <%= link_to(image_tag("http://i.imgur.com/Z3L9iGil.png", :size => "50x50", :alt => "email link", :title => "Email"), @user.email) %>
        <% end %>
      </p>
    </div>

  <!-- <p>
    <strong>Latitude:</strong>
    <%= @user.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @user.longitude %>
  </p>
  -->

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  <!-- <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p> -->

  <p>
    <strong>Email:</strong>
    <%= mail_to(@user.email) %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= link_to(@user.website) %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @user.class_type %>
  </p>

  <h2> Classes </h2>

<!--<div id='calendar'></div> -->
<!--  <div class="container"> -->

<%= grid(@events_grid) do |g|
  g.column  name: 'name', attribute: 'name' do |task|
    task.name
  end

  g.column name: 'location', attribute: 'location' do |task|
    task.location
  end

  g.column name: 'start', attribute: 'starttime' do |task|
    task.starttime
  end

  g.column name: 'end', attribute: 'endtime' do |task|
    task.endtime
  end

  g.column name: 'description', attribute: 'description' do |task|
    task.description
  end

  g.column do |task|
    link_to('Edit', edit_event_path(task))
  end
end %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Start</th>
          <th>End</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user.events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.location %></td>
            <td><%= event.starttime %></td>
            <td><%= event.endtime %></td>
            <td><%= event.description %></td>
            <!--<td><%= link_to 'Show', event %></td>-->
            <% if @current_user != nil && @user.id == current_user.id %>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Event', new_event_path %>

  </div>
</div>


<!-- <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
