<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <!-- does the field after :classtype get filled into database?
    Will this cause later problems with trying to access? -->
    <%= f.label :classtype, 'Class Type' %>
    <br>
    <%= f.radio_button :classtype, 'Aerial Silks' %> 
    <%= f.label :classtype, 'Aerial Silks', :value => 'aerial_silks' %> 
    <br>
    <%= f.radio_button :classtype, 'Aerial Hammock' %> 
    <%= f.label :classtype, 'Aerial Hammock', :value => 'aerial_hammock' %> 
    <br>
    <%= f.radio_button :classtype, 'Corde Lisse' %> 
    <%= f.label :classtype, 'Corde Lisse', :value => 'corde_lisse' %> 
    <br>
    <%= f.radio_button :classtype, 'Flying Trapeze' %> 
    <%= f.label :classtype, 'FlyingTrapeze', :value => 'flying_trapeze' %> 
    <br>
    <%= f.radio_button :classtype, 'Lyra' %> 
    <%= f.label :classtype, 'Lyra', :value => 'lyra' %> 
    <br>
    <%= f.radio_button :classtype, 'Partner Acro' %> 
    <%= f.label :classtype, 'PartnerAcro', :value => 'partner_acro' %> 
    <br>
    <%= f.radio_button :classtype, 'Static Trapeze' %> 
    <%= f.label :classtype, 'Static Trapeze', :value => 'static_trapeze' %> 
    <br>

  </div>

  <div class="field">
    <%= f.label :starttime %><br>
    <%= f.datetime_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.datetime_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
